<div class="flex flex-col flex-auto min-w-0 m-6">
    <!--Search Form-->
    <mat-accordion>
        <mat-expansion-panel [class.rounded-2xl]>
            <mat-expansion-panel-header [collapsedHeight]="'56px'">
                <mat-panel-title>
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Tìm kiếm</div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <form class="grid lg:grid-cols-4 sm:grid-cols-2 gap-4" [formGroup]="searchForm">
                <mat-form-field class="w-full" [floatLabel]="'always'">
                    <mat-label>Giftcode</mat-label>
                    <input matInput trim="blur" [placeholder]="'Giftcode'" [formControlName]="'giftcode'">
                </mat-form-field>

                <mat-form-field class="w-full" [floatLabel]="'always'">
                    <mat-label>Giftname</mat-label>
                    <input matInput trim="blur" [placeholder]="'Giftname'" [formControlName]="'giftname'">
                </mat-form-field>

                <mat-form-field class="w-full" [floatLabel]="'always'">
                    <mat-label>Describe</mat-label>
                    <input matInput trim="blur" [placeholder]="'Describle'" [formControlName]="'describe'">
                </mat-form-field>

                <mat-form-field class="w-full" [floatLabel]="'always'">
                    <mat-label>Trạng thái</mat-label>
                    <mat-select [formControlName]="'status'">
                        <ng-container *ngFor="let it of statusItems">
                            <mat-option [value]="it.appCode">
                                {{it.appName}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>

            </form>
            <button
                mat-flat-button
                class="self-center w-32 justify-self-end"
                (click)="doSearch()"
                [color]="'primary'">
                <mat-icon [svgIcon]="'heroicons_outline:search'"></mat-icon>
                <span class="ml-2 mr-1">Tìm kiếm</span>
            </button>
        </mat-expansion-panel>
    </mat-accordion>

    <!--Table -->
    <div class="flex-auto mt-6">
        <div class="w-full mx-auto">
            <div class="sm:col-span-6 flex flex-col flex-auto p-6 bg-card shadow rounded-md overflow-hidden">
                <div class="flex">
                    <div class="flex-auto">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">Danh sách phần thưởng</div>
                    </div>
                    <button
                        mat-flat-button
                        class="ml-4"
                        [color]="'primary'"
                        mat-raised-button
                        (click)="openDialog()">
                        <mat-icon
                            [svgIcon]="'heroicons_outline:plus'"
                        ></mat-icon>
                        <span class="ml-2 mr-1">Thêm mới</span>
                    </button>
                </div>

                <div class="flex flex-col flex-auto mt-2 overflow-x-auto">
                    <!-- Loader -->
                    <div>
                        <mat-progress-bar *ngIf="isLoadingGrid" [mode]="'indeterminate'"></mat-progress-bar>
                    </div>
                    <table class="min-w-240 overflow-y-visible" mat-table [dataSource]="dataSource" matSort>
                        <!-- Giftcode Column -->
                        <ng-container matColumnDef="giftcode">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Mã giải thưởng</th>
                            <td mat-cell *matCellDef="let element">
                                <span class="text-primary-500">{{element.code}}</span>
                            </td>
                        </ng-container>

                        <!-- Giftname Column -->
                        <ng-container matColumnDef="giftname">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên giải thưởng</th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <!-- Describe Column -->
                        <ng-container matColumnDef="describe">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Mô tả</th>
                            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                        </ng-container>

                        <!-- Status Column -->
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Trạng thái</th>
                            <td mat-cell *matCellDef="let element">
                                <span *ngIf="element.status == 'CREATED'" class="text-green-500">Đã tạo</span>
                                <span *ngIf="element.status == 'NOT CREATED'" class="text-red-500">Chưa tạo</span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-icon-button (click)="editGift(element)">
                                    <mat-icon aria-label="Sửa">edit</mat-icon>
                                </button>
                                <button mat-icon-button (click)="deleteGift(element)">
                                    <mat-icon aria-label="Xóa">delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <div *ngIf="!isLoadingGrid && paginator?.length == 0" class="font-semibold p-8 text-center text-primary-500">Không có dữ liệu</div>

                    <mat-paginator [pageSizeOptions]="tableState.pageSizeOptions"
                                   [showFirstLastButtons]="true"
                                   (page)="pageChanged($event)">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
