<div class="flex flex-col flex-auto min-w-0 m-6">
    <!--Search Form-->
    <mat-accordion>
        <mat-expansion-panel [class.rounded-2xl]>
            <mat-expansion-panel-header [collapsedHeight]="'56px'">
                <mat-panel-title>
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Tìm kiếm</div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <form class="grid lg:grid-cols-4 sm:grid-cols-2 gap-4" [formGroup]="searchForm">
                <mat-form-field class="w-full" [floatLabel]="'always'">
                    <mat-label>Username</mat-label>
                    <input matInput trim="blur" [placeholder]="'Username'" [formControlName]="'username'">
                </mat-form-field>

                <mat-form-field class="w-full" [floatLabel]="'always'">
                    <mat-label>Họ và tên</mat-label>
                    <input matInput trim="blur" [placeholder]="'Họ và tên'" [formControlName]="'fullname'">
                </mat-form-field>

                <mat-form-field class="w-full" [floatLabel]="'always'">
                    <mat-label>Ngày tạo</mat-label>
                    <input matInput [matDatepicker]="dobDatePicker"
                           [placeholder]="'Ngày tạo'"
                           [formControlName]="'createdDate'">
                    <mat-datepicker-toggle matSuffix [for]="dobDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #dobDatePicker></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="w-full" [floatLabel]="'always'">
                    <mat-label>Số điện thoại</mat-label>
                    <input matInput trim="blur" [placeholder]="'Số điện thoại'" [formControlName]="'phone'">
                    <mat-error *ngIf="searchForm.get('phone').hasError('pattern')">
                        Số điện thoại sai định dạng
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full" [floatLabel]="'always'">
                    <mat-label>Email</mat-label>
                    <input matInput trim="blur" [placeholder]="'Email'" [formControlName]="'email'">
                    <mat-error *ngIf="searchForm.get('email').hasError('email')">
                        Email sai định dạng
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full" [floatLabel]="'always'">
                    <mat-label>Địa chỉ</mat-label>
                    <input matInput trim="blur" [placeholder]="'Địa chỉ'" [formControlName]="'address'">
                </mat-form-field>

                <mat-form-field class="w-full" [floatLabel]="'always'">
                    <mat-label>Trạng thái</mat-label>
                    <mat-select [formControlName]="'status'">
                        <ng-container *ngFor="let it of statusItems">
                            <mat-option [value]="it.appCode">
                                {{it.appName}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>

                <button
                    mat-flat-button
                    class="self-center w-32 justify-self-end"
                    (click)="doSearch()"
                    [color]="'primary'">
                    <mat-icon [svgIcon]="'heroicons_outline:search'"></mat-icon>
                    <span class="ml-2 mr-1">Tìm kiếm</span>
                </button>
            </form>
        </mat-expansion-panel>
    </mat-accordion>

    <!--Table -->
    <div class="flex-auto mt-6">
        <div class="w-full mx-auto">
            <div class="sm:col-span-6 flex flex-col flex-auto p-6 bg-card shadow rounded-md overflow-hidden">
                <div class="flex">
                    <div class="flex-auto">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">Danh sách tài khoản</div>
                    </div>
                    <button
                        mat-flat-button
                        class="ml-4"
                        [color]="'primary'">
                        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                        <span class="ml-2 mr-1">Thêm mới</span>
                    </button>
                </div>

                <div class="flex flex-col flex-auto mt-2 overflow-x-auto">
                    <!-- Loader -->
                    <div>
                        <mat-progress-bar *ngIf="isLoadingGrid" [mode]="'indeterminate'"></mat-progress-bar>
                    </div>
                    <table class="min-w-240 overflow-y-visible" mat-table [dataSource]="dataSource" matSort>
                        <!-- Username Column -->
                        <ng-container matColumnDef="username">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Username</th>
                            <td mat-cell *matCellDef="let element">
                                <span class="text-primary-500">{{element.username}}</span>
                            </td>
                        </ng-container>

                        <!-- Email Column -->
                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
                            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                        </ng-container>

                        <!-- Fullname Column -->
                        <ng-container matColumnDef="fullname">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Họ và tên</th>
                            <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
                        </ng-container>

                        <!-- Phone Column -->
                        <ng-container matColumnDef="phone">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Số điện thoại</th>
                            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                        </ng-container>

                        <!-- Status Column -->
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Trạng thái</th>
                            <td mat-cell *matCellDef="let element">
                                <span *ngIf="element.status == 'ACTIVE'" class="text-green-500">Hoạt động</span>
                                <span *ngIf="element.status == 'LOCKING'" class="text-red-500">Đang khóa</span>
                            </td>
                        </ng-container>

                        <!-- Address Column -->
                        <ng-container matColumnDef="address">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Địa chỉ</th>
                            <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <div *ngIf="!isLoadingGrid && paginator?.length == 0" class="font-semibold p-8 text-center text-primary-500">Không có dữ liệu</div>

                    <mat-paginator [pageSizeOptions]="tableState.pageSizeOptions"
                                   [showFirstLastButtons]="true"
                                   (page)="pageChanged($event)">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
